<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>World Data Viz</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to World Data Viz</h1>
        <p>Choose a visualization to view:</p>
        <ul>
            <li><a href="/bubble_chart">Bubble Chart Visualization</a></li>
            <li><a href="/map_visualization">Map Visualization</a></li>
        </ul>
    </div>
</body>
</html>
