<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Video Game Sequels Analysis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>
    <div class="container">
        <h1>Top 50 Video Game Scores</h1>
        <p>This bar chart shows the top 50 video games with the highest scores.</p>
        <!-- Visualization Section -->
        <div id="chart"></div>
    </div>
    <script src="/static/js/video_game_sequels.js"></script>
</body>

</html>